.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: max-content;
  gap: 1rem;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  width: min(100%, 1000px);
}

.menu-container__menu-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 5px var(--shadow-color);

  padding: 1rem;
}

.menu-container__menu-card:hover {
  background-color: var(--body-bg-color);
}

.menu-container__menu-image {
  margin-bottom: 1rem;
}

.menu-container__menu-title {
  font: inherit;
}